.badge{
    gap: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 30px ;
    padding: 5px 18px;
    color: var(--primary-4);
    background: var(--primary-1);
    border: 1px solid var(--primary-4);
}
.badge.disabled{
    background: var(--grey-3);
    color: var(--black-2);
    border: var(--border-1);
}