.blackcheckboxGrp label:before{
    border-color: var(--black-3);
}

.blackcheckboxGrp input:checked + label:after{
    border-color: var(--black-3);
}

.blackcheckboxGrp label{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--black-3);
    transition: 0.4s ease-in-out;
}

.blackcheckboxGrp label:hover{
    color: var(--black-4);
    transition: 0.4s ease-in-out;
}

.blackcheckboxGrp label:hover::before{
    border-color: var(--black-4);
    transition: 0.4s ease-in-out;
}

.blackcheckboxGrp input:hover:checked + label:after{
    border-color: var(--black-4);
    transition: 0.4s ease-in-out;
}

.blackcheckboxGrp input:disabled:hover + label::after{
    border-color: var(--grey-5);
}

.blackcheckboxGrp input:disabled + label{
    color: var(--grey-5);
}

.blackcheckboxGrp input:disabled + label::after,
.blackcheckboxGrp input:disabled + label::before{
    border-color: var(--grey-5);
}