.breadCrumbOuter{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}
.breadCrumb{
    gap: 5px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    font-weight: bold;
    font-size: 14px;
    line-height: 120%;
}
.breadCrumb p:hover{
    text-decoration: underline;
    cursor: pointer;
    color: var(--primary-6);
}