.tooltipContainer{
    visibility: hidden;
    opacity: 0;
    transition: 0.4s;
    width: max-content;
    max-width: 330px;
    top: -50%;
    margin: auto;
    left: 100%;
    position: absolute;
    background-color: var(--white);
    padding: 15px;
    border-radius: 6px;
    filter: drop-shadow(0px 0.6px 1.8px rgba(0, 0, 0, 0.1)) drop-shadow(0px 3.2px 7.2px rgba(0, 0, 0, 0.13)); 
}
.tooltipContainer::before{
    top: 6%;
    left: -3%;
    transform: rotate(45deg);

    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: var(--white);
}
.tooltipFooter{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}
.tooltipHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tooltipBody{
    margin-top: 10px;
    font-size: 14px;
    color: var(--black-1);
}
.tooltipTitle{
    font-weight: bold;
}
.tooltipOuter{
    position: relative;
}
.tooltipHeader img{
    cursor: pointer;
}
.tooltipOuter:hover .tooltipContainer{
    visibility: visible;
    opacity: 1;
}