.messageBarOuter{
    width: 100%;
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 6px;
}
.btnGrp{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.messageBox{
    gap: 5px;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.messageBarOuter.center{
    gap: 10px;
    justify-content: center;
}